@import "../global.scss";

.feed {
  flex: 0.5;
  max-width: calc(50% - 16px);
  @include mobile {
    flex: 1;
    max-width: none;
  }
}

.feed__posts {
  background-color: $mid-blue;
  padding-top: 10px;
  overflow-y: auto;
  height: 100%;
}

.feed__posts > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
