@import "../global.scss";

.header {
  position: sticky;
  top: 0px;
  background-color: $dark-blue;
  padding-bottom: 10px;
  z-index: 2001;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-left: 10px;
  align-items: center;
  flex: 0.3;
}

.header__left > .MuiSvgIcon-root {
  color: $mid-blue;
  font-size: 40px;
}

.header__search {
  border-radius: 8px;
  background-color: $light-blue;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  margin-left: 30px;
  position: relative;

  @include mobile {
    width: 120px;
  }
}

.header__searchbar {
  position: absolute;
  bottom: -10px;
  transform: translate(0, 100%);
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  left: -2px;
  background-color: $ecru;
  border-radius: 10px;

  > :first-child button {
    border-radius: 10px 10px 0 0;
  }
  > :last-child button {
    border-radius: 0 0 10px 10px;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.header__searchUser {
  display: flex;
  width: 100%;
  border: none;
  background: transparent;

  &:hover {
    background-color: $light-blue;
  }
}

.header__userChatInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 0;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}

.header__middle {
  display: flex;
  justify-content: space-evenly;
  flex: 0.4;
  margin-left: 30px;
  @include mobile {
    display: none;
  }
}

.header__middle .MuiSvgIcon-root {
  padding: 5px;
}

.header__middle .MuiSvgIcon-root:hover {
  color: $ecru;
  background-color: $mid-blue;
  border-radius: 10px;
  padding: 5px;
}

.header__right {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  padding: 8px;
  margin-right: 16px;

  a {
    color: black;
  }
}

.header__right .MuiSvgIcon-root {
  padding: 5px;
}

.header__right .MuiSvgIcon-root:hover {
  color: $ecru;
  background-color: $mid-blue;
  border-radius: 10px;
  padding: 5px;
}

.header__logOut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: transparent;
  border: none;
  font-size: small;
  color: black;
  padding: 2px;
  &:hover {
    background-color: $mid-blue;
    border-radius: 10px;
    padding: 2px;
    color: $ecru;
  }
}
