@import "../global.scss";

.messengerChat {
  flex: 2;
  display: flex;
  flex-direction: column;

  .messagesScroll {
    height: calc(100% - 152px);
  }
}

.messengerChat__info {
  height: 50px;
  background-color: $dark-blue;
  display: flex;
  align-items: center;
  padding: 16px;
  font-weight: bolder;
  font-size: 24px;
  color: $ecru;
  gap: 12px;
  flex: 0 0 60px;
}

.messengerChat__noMessages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  opacity: 0.2;
  color: $dark-blue;

  p {
    font-size: xx-large;
    font-weight: 600;
    pointer-events: none;
  }

  svg {
    width: 100px;
    height: 100px;
  }
}
