@import "../global.scss";

.messengerSidebarSearch__form {
  padding: 10px;
  margin: 8px;
  display: flex;
  background-color: $light-blue;
  border-radius: 20px;
  height: 14px;
  align-items: center;
}
.messengerSidebarSearch__form > input {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  @include mobile {
    width: 100%;
  }
}
.messengerSidebarSearch__userChat {
  background: none;
  border: none;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  color: $ecru;

  &:hover {
    background-color: $dark-blue;
  }

  &:last-child {
    border-bottom: 1px solid $dark-blue;
  }
}
