@import "../global.scss";

.widgets {
  flex: 0.25;
  background-color: $light-blue;
  padding: 16px 8px;
  position: sticky;
  top: 68px;
  height: calc(100% - 68px);

  @include mobile {
    display: none;
  }
}

.widgets__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  margin: 0 16px;
  border-bottom: 1px solid $mid-blue;
}

.widgets__contacts iframe {
  width: 100% !important;
  height: 80px !important;
}
.widgets__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}
.widgets__contacts > iframe:first-child {
  height: 150px !important;
}
