@import "../global.scss";

.widgets {
  flex: 0.25;
  background-color: $light-blue;
  padding: 16px 8px;
  position: sticky;
  top: 68px;
  height: calc(100% - 68px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: large;
  margin: 0;

  @include mobile {
    display: none;
  }
}

.widgets > p {
  font-size: larger;
  font-weight: 600;
  color: $dark-blue;

  &:hover {
    cursor: default;
  }
}

.widgets__podcastsSection iframe {
  width: 100% !important;
  height: 80px !important;
}
.widgets__podcastsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
}
.widgets__podcastsSection > iframe:first-child {
  height: 150px !important;
}
